00 03 * * * (source /etc/sysconfig/scpnet && cd /var/scpnet/current && node server/bin/execute full-import) && curl -sm 30 k.wdt.io/cron@scpfoundation.net/full-import?c=0_3_*_*_*
00 05 * * * (source /etc/sysconfig/scpnet && cd /var/scpnet/current && node server/bin/execute members-import) && curl -sm 30 k.wdt.io/cron@scpfoundation.net/members-import?c=0_5_*_*_*
00 06 * * * (source /etc/sysconfig/scpnet && cd /var/scpnet/current && node server/bin/execute extract-object-titles) && curl -sm 30 k.wdt.io/cron@scpfoundation.net/extract-object-titles?c=0_6_*_*_*
